
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;


}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
		text-decoration: none;
}


.sprite {
    background-image: url(../assets/imgs/spritesheets.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-date {
    width: 22px;
    height: 28px;
    background-position: -5px -5px;
}

.sprite-icons {
	width: 17px;
	height: 16px;
	background-position: -37px -5px;
}
.sprite-icons.user {background-position: -135px -15px;}
.sprite-icons.signin {
    background-position: -154px -11px;
}
.sprite-icons.cart {
    background-position: -175px -10px;
}

.sprite-arrow-left {
    width: 41px;
    height: 41px;
    background-position: -5px -5px;
}

.sprite-arrow-rigth {
    width: 41px;
    height: 41px;
    background-position: -56px -5px;
}

.sprite-date {
    width: 22px;
    height: 28px;
    background-position: -107px -5px;
}


.sprite-logotipo {
    width: 290px;
    height: 74px;
    background-position: -204px -5px;
}

.sprite-money {
    width: 41px;
    height: 29px;
    background-position: -500px -5px;
}

.sprite-payment {
    width: 609px;
    height: 30px;
    background-position: -5px -89px;
}

.sprite-phone {
    width: 29px;
    height: 30px;
    background-position: -551px -5px;
}

.sprite-search-ico {
    width: 20px;
    height: 20px;
    background-position: -592px -5px;
}

.sprite-truck {
    width: 39px;
    height: 29px;
    background-position: -107px -45px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}
.input, .button, textarea {
	border-style: none;
	border-color: none;
	outline: none;
	box-shadow: none;
	background: none;
}
.search {
	position: relative;
}
.search > .sprite-search-ico {
	position: absolute;
	right: 5px;
	top: 5.8px;
}
.input.search {
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	padding: 15px 2px 15px 8px;
	width: 250px;
	height: 32px;
	text-transform: capitalize;
}
.nav { margin: 15px 0px 5px; border-bottom: 1px solid #f5f5f5;height: 45px;}

.nav.logo {height: auto;border: none;}

.menu { margin: 10px 0px;float: right;display: block;max-height: 16px;}

.search {  margin: 0px; float: left; display: block; }

.menu > ul { margin: 0px; display: block; }
.menu > ul > li { display: inline-flex; }
.menu > ul > li > a { display: block;margin: 0.5px 2px;font-family: 'Lato', sans-serif;font-size: 14px;text-decoration: none;color: #000000;font-weight: 400; text-transform: capitalize;}
.menu > ul > li:last-child { margin-left: 15px; } 
.menu > ul > li:first-child { margin-right: 5px; }

.submenu { display: block;max-height: 16px;text-align: center;background: #7e7e7e;border-bottom: 2px solid #000;padding: 15px 0px 15px;}
.submenu > ul { margin: 0px; display: block; }
.submenu > ul > li { display: inline-flex; margin-right: 35px;}
.submenu > ul > li > a { display: block;margin: 0.5px 2px;font-family: 'Lato', sans-serif;font-size: 16px;text-decoration: none;color: #fff;font-weight: 600;text-transform: uppercase;}

.features {
	margin-top: 32px;
	margin-bottom: 32px;
}
.features > ul > li {
	border-right: 1px #aeaeae;
	height: 35px;
	display: inline-block;
	border-style: double;
	margin-right: 15px;
}
.features > ul > li:last-child {
	border-style: none;
	margin-right: none;
}

.logotipo { 
	margin: 30px auto; width: 286px;
}
.main {
	margin: 15px 0; 
}
.icon, .description {
	float: left;
	display: block;
}
.description {
	margin-left: 8px;
	padding-right: 20px;
	line-height: 18px;
}
.description > h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	color: #7a868b;
}
.description > p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	text-decoration: none;
	font-weight: 400;
	color: #6c7b8e;
}

.slick-prev  {
	border-style: none;
	position: absolute;
	top: 200px;
	z-index: 9999;
	left: 0;
}
.slick-next  {
	border-style: none;
	position: absolute;
	top: 200px;
	z-index: 9999;
	right: 28px;
}
.slick-prev, .slick-next {
	font-size: 0px;
	outline: none;
	box-shadow: none;
	cursor: pointer;

}
.slick-prev:before, .slick-next:before {
	font-size: 22px;
	background-image: url(../assets/imgs/spritesheets.png);
	position: absolute;
	top: 0px;
	left: 0;
}
.slick-prev:before {
	content: " ";
    width: 43px;
    height: 42px;
    background-position: -5px -5px;
}
.slick-next:before {
	content: " ";
 	width: 43px;
    height: 42px;
    background-position: -56px -5px;
}
.slider {
	position: relative;
}

.content.description {
	position: relative;
	width: 600px;
	height: 0px;
	z-index: 99999;
	left: 1691px;
	top: 227px;
}

.content.description > h1 {
	background: #ffffffdb;
	padding: 10px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #373738;
	display: inline;
}
.content.description > p {
	background: #ffffffdb;
	padding: 10px;
	margin-top: 40px;
	width: 400px;
	color: #757473;
	display: inline-block;
}
.content.description > h1 > span {
	color: #e74545;
}

.layers > .banners > ul > li {
    display: inline-block;
    margin-top: 10px;
}

.layers > .banners > ul > li > a > img {
	width: 297px;

}
.layers > .banners > ul > li > a > img:hover, .products > .item > img:hover {
	opacity: 0.56;
	cursor: pointer;
}
.layers > .banners > ul > li:last-child {
	padding-right: 0px;
}

.product {
	margin-top: 30px;
}

.line {
	width: 45%;
	height: 0px;
	background-color: #000;
	display: inline-block;
	padding-top: 0px;
	border-bottom: 1px solid;
}
.dest {
	display: inline-block;
	width: 9%;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	text-align: center;
	line-height: 0px;
	position: relative;
	top: 4px;
	height: auto;
}
.products {
	margin-top: 100px;
}
.products > .item {
	display: inline-block;
	margin-right: 15px;
	width: 221px;
	text-align: center;
	position: relative;
}
.prducts > .item > span {
	color: red;
}
.products > .item > img  {
	display: block;
	text-align: center;
	margin: 0 auto;
}
.products > .item > a.product-description > h3 {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 15px;
	color: #636363;
	text-transform: capitalize;
}
.products > .item > .product-description > p:nth-child(3) {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #b53e39;
	margin-bottom: 5px;
	text-transform: capitalize;
}

.products > .item > .product-description > p:nth-child(4) {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #646464;
	text-transform: capitalize;
}

.message {
	border-top: 2px solid #333;
	margin-top: 70px;
	border-bottom: 2px solid #333;
}

.form {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 300px;
	width: 100%;
	padding: 30px 0px 0px 100px;
}
.form > form {
	width: 100%;
}
.form > form > div > label {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #333333;
	padding-bottom: 6px;
	display: block;
}
.group {
	display: block;
	float: left;
	width: 400px;
	margin-right: 30px;
}
.group > input {
	display: block;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}
.group > button[type=submit] {
	background: #333;
	padding: 8px;
	float: right;
	width: 180px;
	border: 1px solid #333;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin-top: 8px;
	margin-right: -22px;
}

.textmessage {
    border: 1px solid #ccc;
    width: 100%;
    height: 151px;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}
.footer {
	height: 200px;
}
.footer > .links {
	display: block;
	margin-top: 30px;
	height: 100px;
}
.footer > .links > ul {
	display: block;
	float: left;
	width: 300px;
	margin-bottom: 20px;
}
.footer > .links > ul > h4 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 10px;
}
.footer > .links > ul > li {
	display: block;
}
.footer > .links > ul > li > a {
	text-decoration: none;
	text-transform: capitalize;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 30px;
}
.footer > .cards {
	display: block;
	float: left;
	width: 100%;
	border-top: 1px dashed #d8d7d7;
	border-bottom: 1px dashed #d8d7d7;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 30px 0 auto;
}
.copyrigth {
	display: block;
	width: 100%;
	height: 30px;
	float: left;
	margin-top: 15px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.status {
	width: 110px;
	height: 16px;
	padding: 8px;

	text-align: center;
	font-family: 'Open Sans', sans-serif;
	line-height: 15px;
	position: absolute;
	text-transform: uppercase;
	left: 3px;
	font-size: 14px;
	top: -22px;
	font-weight: 600;
}
.unavailable {
	color: #FFF;
	background: #ec2828;
}
.offer {
	color: #ddd;
	text-decoration: line-through;
}
@media (max-width: 768px) { 

	img {
		width: 100%;
		height: auto;
	}
	.container {
    	width: 100%;
	}
	.search {
	    margin: 0px auto;
	    float: none;
	    display: block;
	    width: 77%;
	}

	.menu {
	    margin: 25px 0px 20px;
	    float: left;
	    display: block;
	    max-height: 16px;
	    width: 100%;
	    text-align: center;
	}

	.logotipo {
	    margin: 60px auto;
	    width: 286px;
	}
	.submenu {
		width: 100%;
	}
	.submenu > ul > li {
	    display: inline-flex;
	    margin-right: 0px;
	}
	.submenu > ul > li > a {
	     display: inline; 
	     margin: 0px; 
	    font-size: 10px;

	}

	.features > ul > li {
	    border-bottom: 1px solid #aeaeae;
	    height: auto; 
	    margin-right: 0; 
	    padding: 15px;
	    width: 100%;
	}

	.navtop {
	    margin: 8px 0px 5px;
	    border-bottom: 1px solid #f5f5f5;
	    height: 80px;
	}

	.slick-prev, .slick-next {
    	top: 30px;
	}
	.content.description {
		left: 0px;
		top: 0px;
	}
	.content.description > h1 {
	    font-size: 14px;
	    display: inline-block;
	    top: 0px;
	    position: relative;
	    left: 80px;
	    top: 32px;
	}
	.content.description > p {
		display: none;
	}
	.layers > .banners > ul > li  {
	    width: 100%;
	    display: block;
	}
	.layers > .banners > ul > li > a > img {
	    width: 100%;
	    display: block;
	}
	.products > .item {
	    margin-bottom: 20px;
	    width: 100%;
	    margin-right: 0px;
	}
	.status {
   	 top: 9px;
	}

	.form {

	    padding: 0px;
	}

.footer > .links {
    padding-left: 15px;
    display: block;
    float: left;
    height: auto;
    margin-top: 30px;
}

	.group > button[type=submit] {
	     float: none;
	     width: 50%;
	     margin: 15px auto;
	     display: block;
	}
	.message {
    float: left;
    display: block;
    width: 100%;
    height: 600px;
 }
 .footer {
    display: block;
    float: left;
    height: 200px;
}
.payments {
	display: none;
	float: left;
	width: 100%;
}
.form > form > div > label {

    margin-left: 15px;
}
.group > input {
    width: 83%;
    margin-left: 15px;
    margin-right: 15px;
}
.textmessage {
    width: 81%;
    margin-left: 15px;
}
.footer > .links > ul {
    margin-bottom: 20px;
}
.line {
    width: 32%;
    display: inline-block;
}

.dest {
    width: 24%;
    text-align: center;
}
}
